<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonoDB CRUD</title>
</head>
<body>
    <h1>{{message}}</h1>
    <h3 style="color:green">{{operation}}</h3>
    {{#if edit_id}}
    <h4>Update</h4>
    <form action="/update_book/{{edit_id}}" method="post">
        <input type="text" name="title" placeholder="Title" value="{{edit_book.title}}"/>
        <input type="text" name="author" placeholder="Author" value="{{edit_book.author}}"/>
        <input type="submit" value="Update"/>
    </form><br/><br/>
    {{else}}
    <h4>Create</h4>
    <form action="/store_book" method="post">
        <input type="text" name="title" placeholder="Title"/>
        <input type="text" name="author" placeholder="Author"/>
        <input type="submit" value="Create"/>
    </form><br/><br/>
    {{/if}}
    <ul>
        {{#each bookDetails}}
        <li>
            {{this.title}} - {{this.author}} <a href="/?edit_id={{this._id}}">Edit</a> <a href="/?delete_id={{this._id}}" onclick="return confirm('Are you sure want to delete this row?')">Delete</a>
        </li>
        {{/each}}
    </ul>
</body>
</html>